extends baseEmail
block content
    p Hi #{firstName},
    p Enter this code in your mobile app screen #{url}
    //table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    //    tbody
    //        tr
    //            td(align='left')
    //                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
    //                    tbody
    //                        tr
    //                            td
    //                                a(href='#', target='_blank') Upload user photo
    p If you didn't forget your password, please ignore this email!
